<% @product.reviews.each do |review| %>
  <div class="review_<%= review.id %>">
    <div class="poster">
      <em> by <%= review.user.name %></em>
      Added on: <%= review.created_at %>
    </div>
    <p class="comment">
      <%= review.comment %>
    </p>
    <% if review.user != nil %>
	    
      <div class="actions">
          <%= link_to "Delete Review ", "/products/#{@product.id}/reviews/#{review.id}", method: "delete", remote: true %>
        </div>
	  <% end %>
  </div>
<% end %>