<h1 id="all_products">All Products</h1>
<% @products.each do |product|  %>
	<p>Name: <%= product.name %></p>
	<p>Description: <%= product.description%></p>
	<p>Price: <%= product.formatted_price%></p>
	<p>ID: <%= product.id %></p>
	<%= link_to "Show Product", "/products/#{product.id}"%>
	<p>-----------------------------------------------</p>

	
<% end %>